body {
  background-image: url(./images/backgroundpiz2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(red, green, blue, 0.3);
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}